.booking {
  color: $color-tangaroa;
  font-size: 18px;
  line-height: 27px;
  padding: 50px 0;
  position: relative;

  @include vp-1279 {
    padding: 87px 0;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 59px 0;
    padding-bottom: 65px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

.booking__container {
  padding: 0 120px;
  display: grid;
  grid-template-columns: 1fr 0.81fr;
  column-gap: 137px;
  position: relative;
  z-index: 1;

  @include vp-1279 {
    grid-template-columns: minmax(290px, 419px);
    justify-content: center;
  }
}

.booking__text {
  align-self: center;

  @include vp-1279 {
    margin-bottom: 53px;

    p {
      margin: 0 38px;
    }
  }

  @include vp-767 {
    margin-bottom: 33px;

    p {
      margin: 0 17px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.booking h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  @include vp-1279 {
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 15px;
  }
}

p {
  padding: 0;
  margin: 0;
}
