.cruise-card {
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
  background-color: $color-tangaroa;
}

.cruise-card h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
}

.cruise-card__header {
  font-weight: 500;
  color: $color-alice-blue;
}
