.description {
  line-height: 24px;
  color: $color-tangaroa;
  padding: 120px 0;
  background-color: $color-alice-blue;

  @include vp-1023 {
    padding: 90px 0;
    padding-bottom: 92px;
  }

  @include vp-767 {
    padding: 55px 0;
    padding-bottom: 65px;
  }

  br {
    display: none;

    @include vp-1023 {
      display: inline;
    }
  }
}

.description__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 34px;
  }
}

.description__column {
  min-width: 0;
  min-height: 0;
  align-self: center;
}

.description h2 {
  line-height: 42px;
  font-weight: 600;
  font-size: 28px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @include vp-1023 {
    //margin-bottom: 40px;
    margin-bottom: 17px;
    line-height: 36px;
    font-size: 26px;
  }

  @include vp-767 {
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.description p {
  margin: 0;
  padding: 0;
  max-width: 512px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.description__image {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  max-height: 301px;
  position: relative;

  @include vp-1023 {
    overflow-x: hidden;
    overflow-y: clip;
    width: 100%;
    height: 100%;
    max-height: none;
    min-height: 264px;
    position: relative;
  }

  @include vp-767 {
    min-height: 100%;
    height: auto;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    max-height: 301px;
    object-fit: cover;

    @include vp-1023 {
      min-height: 264px;
      object-fit: cover;
      position: absolute;
    }

    @include vp-767 {
      min-height: 186px;
      max-height: 100%;
      height: auto;
      min-width: 100%;
      width: 100%;
      position: static;
      object-position: 50% 35%;
    }
  }
}
