.footer-nav {
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;
  display: grid;
  grid-template-columns: max-content 1fr;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    margin-bottom: 4px;
  }
}

.footer-nav__logo {
  height: 38px;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
      outline: none;
    }
  }

  svg {
    display: block;
  }

  @include vp-1023 {
    width: 38px;
    height: 20px;
    align-self: center;
  }

  @include vp-767 {
    height: 22px;
    margin-bottom: 22px;
  }
}

.footer-nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 5px;
  padding: 0;

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer-nav__item {
  margin-left: 34px;

  @include vp-1023 {
    margin-left: 24px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-bottom: 7px;
  }
}

.footer-nav__link {
  display: block;
  color: $color-alice-blue;
  padding: 10px 0;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
      outline: none;
    }
  }

  @include vp-767 {
    padding: 5px 0;
  }
}
