.main-header {
  background-color: $color-prussian-blue;
  color: $color-alice-blue;
  font-size: 20px;
  line-height: 24px;
  padding-top: 283px;
  padding-bottom: 283px;
  background-image: url("../img/content/header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;

  @include vp-1279 {
    font-size: 18px;
    line-height: 22px;
    padding-top: 280px;
    padding-bottom: 280px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    padding-top: 185px;
    padding-bottom: 185px;
  }
}

.main-header h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;

  @include vp-1279 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}
